@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* BANNER PRINCIPAL */

.banner {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/images/banner-main.png);
  background-position: center;
}

/* MENU */

.navbar {
  border-top: 4px solid #181818;
  background-image: linear-gradient(
    to top,
    #870000,
    #6a0d03,
    #4e1105,
    #331005,
    #190a05
  );
}

/* PRODUTOS EM DESTAQUE */

.container-feature {
  background-image: url(../assets/images/back-feature.png);
  background-position: right 35% bottom 45%;
}

.container-feature h1 {
  display: flex;
  justify-content: center;
  color: #fffbf0;
  padding-top: 30px;
  font-family: "Press Start 2P", cursive;
  font-style: italic;
}

.features {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carousel {
  width: 640px;
}

.carousel h5 {
  font-family: "Press Start 2P", cursive;
}

.carousel-item {
  width: 640px;
  height: 360px;
}

/* BANNER DE INFORMAÇÕES */

.banner-info-wrapper {
  background-image: linear-gradient(
    to top,
    #870000,
    #6a0d03,
    #4e1105,
    #331005,
    #190a05
  );
  background-position: cover;
}

.open_desk {
  height: 80px;
  color: #fffbf0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
}

.icon-banner {
  max-width: 62px;
  max-height: 40px;
  margin-right: 10px;
}

/* CATÁLOGO DE PRODUTOS */

.catalog-product {
  background-image: linear-gradient(
    to right top,
    #141e30,
    #191724,
    #171019,
    #10080d,
    #000000
  );
  padding: 50px 0;
}

.catalog-product h1 {
  color: #fffbf0;
  text-align: center;
  padding-bottom: 14px;
  font-family: "Press Start 2P", cursive;
  font-style: italic;
}

.card-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fffbf0;
  background-color: #1f2326;
  border-bottom: 1px solid #b0c4de;
  margin-bottom: 1
}

.card-body a:hover {
  background-color: red;
}

.price {
  background-color: #1f2326;
  color: orange;
  font-weight: bold;
  padding-bottom: 5px;
}

@media screen and (max-width: 770px) {
  .banner-info-wrapper {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .carousel {
    width: 250px;
  }

  .carousel-item {
    width: 250px;
    height: 150px;
  }
}

